
.container button {
    background-color: black;
    color: white;
    border: 2px solid #05f809;
    border-radius: 25px;
    width: 100px;
    height: 50px;
    box-shadow: 0px 0px 10px 1px rgb(176, 247, 45);
    transition: all 0.3s ease;
    margin-right: 10px;
}


@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }
    to {
        opacity: 1;
        scale: 100%;
    }
}

.card {
    view-timeline-name: --card;
    view-timeline-axis: block;
    animation-timeline: --card;
    animation-name: show;
    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;
}
