.container .image img{
    margin-top: 50px;
    width: 40%;
}

.container h2{
    margin-top: 40px;
    font-size: 40px; 
    color: green;
    margin-bottom: 100px;
}

.container button {
    margin-top: auto;
}

.container button a{
    font-size: 20px; 
    color: green;
    text-decoration: none;
}

@media screen and (max-width: 950px) {


    .container .image img{
        width: 100%;
    }

  }
