nav.navbar {
    border: 2px solid #05f809;
    border-radius: 15px;
    width: auto;
    height: 20%;
    box-shadow: 0px 0px 10px 1px rgb(176, 247, 45);
    transition: all 0.3s ease;
  }

  .navbar-toggler-custom {
    width: 85px !important;
  }

  .navbar-toggler-icon-custom {
    border-radius: 6px;
    background-color: rgba(9, 229, 9, 0.542);

  }

  nav.navbar a {
    text-decoration: none;
    color: inherit;
    font-size: 20px; 
  }

  nav.navbar a:hover {
    transition: all 0.1s ease-in;
    transform: scale(1.09);
  }
  
  nav.navbar .navbar-nav .nav-link {
    color: green;
  }

  nav.navbar .navbar-nav .nav-link:hover {
    color: rgb(75, 247, 75);
    
  }

  nav.navbar .dropdown-menu {
    border: 2px solid #05f809;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px rgb(176, 247, 45);
  }
  
  nav.navbar .dropdown-menu .dropdown-item {
    color: green;
  }
  
  nav.navbar .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
    color: rgb(75, 247, 75);
    transition: all 0.1s ease-in;
    transform: scale(1.09);
    transform-origin: left; 
}
